In [1]:
import pandas as pd
import numpy as np

In [13]:
precipitation_df=pd.read_csv(r"data\Cuba_Precipitation_with_Nodes (1) (2).csv")
adj_matrix=pd.read_csv(r"data\Adjacency_Matrix______0_80.csv", index_col=0)

In [14]:
precipitation_df["time"]=pd.to_datetime(precipitation_df["time"])

In [15]:
precipitation_df.head()

   node    lat    lon       time  precipitation
0     1  22.75 -83.75 1979-01-01       0.000000
1     1  22.75 -83.75 1979-01-02      16.168200
2     1  22.75 -83.75 1979-01-03       4.264466
3     1  22.75 -83.75 1979-01-04       0.000000
4     1  22.75 -83.75 1979-01-05       0.000000

In [16]:
precipitation_df=precipitation_df.sort_values(by=["node", "time"])
precipitation_df.reset_index(drop=True,inplace=True)

In [17]:
precipitation_df

        node    lat    lon       time  precipitation
0          1  22.75 -83.75 1979-01-01       0.000000
1          1  22.75 -83.75 1979-01-02      16.168200
2          1  22.75 -83.75 1979-01-03       4.264466
3          1  22.75 -83.75 1979-01-04       0.000000
4          1  22.75 -83.75 1979-01-05       0.000000
...      ...    ...    ...        ...            ...
661595    40  20.25 -74.25 2024-04-09       0.000000
661596    40  20.25 -74.25 2024-04-10       0.000000
661597    40  20.25 -74.25 2024-04-11       0.000000
661598    40  20.25 -74.25 2024-04-12       0.000000
661599    40  20.25 -74.25 2024-04-13       0.000000

[661600 rows x 5 columns]

In [18]:
print(precipitation_df[["node","lat","lon"]])

        node    lat    lon
0          1  22.75 -83.75
1          1  22.75 -83.75
2          1  22.75 -83.75
3          1  22.75 -83.75
4          1  22.75 -83.75
...      ...    ...    ...
661595    40  20.25 -74.25
661596    40  20.25 -74.25
661597    40  20.25 -74.25
661598    40  20.25 -74.25
661599    40  20.25 -74.25

[661600 rows x 3 columns]

In [19]:
nodes=precipitation_df["node"].values
missing_nodes=set(nodes)-set(adj_matrix.index)

In [20]:
missing_nodes
#Seems there is no missing links

set()

In [21]:
precipitation_df["precipitation_diff"]=precipitation_df.groupby("node")["precipitation"].diff()
precip_diff_df=precipitation_df.dropna(subset=["precipitation_diff"])
# precip_values

In [22]:
precip_diff_df.head(20)

    node    lat    lon       time  precipitation  precipitation_diff
1      1  22.75 -83.75 1979-01-02      16.168200           16.168200
2      1  22.75 -83.75 1979-01-03       4.264466          -11.903734
3      1  22.75 -83.75 1979-01-04       0.000000           -4.264466
4      1  22.75 -83.75 1979-01-05       0.000000            0.000000
5      1  22.75 -83.75 1979-01-06       0.000000            0.000000
6      1  22.75 -83.75 1979-01-07       0.000000            0.000000
7      1  22.75 -83.75 1979-01-08       0.000000            0.000000
8      1  22.75 -83.75 1979-01-09       0.020123            0.020123
9      1  22.75 -83.75 1979-01-10       9.862288            9.842165
10     1  22.75 -83.75 1979-01-11       0.000000           -9.862288
11     1  22.75 -83.75 1979-01-12       9.881631            9.881631
12     1  22.75 -83.75 1979-01-13       1.027116           -8.854515
13     1  22.75 -83.75 1979-01-14       1.267495            0.240379
14     1  22.75 -83.75 1979-01-15       0.106197           -1.161298
15     1  22.75 -83.75 1979-01-16       0.000000           -0.106197
16     1  22.75 -83.75 1979-01-17       0.000000            0.000000
17     1  22.75 -83.75 1979-01-18       0.000000            0.000000
18     1  22.75 -83.75 1979-01-19       0.000000            0.000000
19     1  22.75 -83.75 1979-01-20       2.804036            2.804036
20     1  22.75 -83.75 1979-01-21       6.629008            3.824972

In [23]:
adj_matrix.head()

,1,2,3,4,5,6,7,8,9,10,...,31,32,33,34,35,36,37,38,39,40
node,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### STEP 2

In [39]:
pivot_df = precipitation_df.pivot(index='time', columns='node', values='precipitation')

full_range = pd.date_range(start='1979-01', end='2023-12', freq='M')
pivot_df = pivot_df.reindex(full_range)
pivot_df=pivot_df.fillna(0)

C:\Users\gacha\AppData\Local\Temp\ipykernel_11244\2697736483.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  full_range = pd.date_range(start='1979-01', end='2023-12', freq='M')

In [40]:
node_id=1
neighbors=adj_matrix.loc[node_id]
linked_nodes=neighbors[neighbors==1].index.tolist()
print(f"Node {node_id} neighbors: {linked_nodes}")

Node 1 neighbors: ['2', '11']

In [41]:
def get_node_series(node_id,precipitation_df):
    return precipitation_df[precipitation_df["node"]==node_id][["time","precipitation_diff"]].reset_index(drop=True)

In [42]:
mode_series=get_node_series(node_id,precipitation_df)

In [46]:
linked_nodes = [int(nb) for nb in linked_nodes]

In [47]:
all_series = [pivot_df[node_id].values]

In [48]:

for nb in linked_nodes:
    all_series.append(pivot_df[nb].values)

In [49]:
X=np.stack(all_series,axis=1)
print(X.shape)

(539, 3)

In [56]:
def create_sequences(data,time_index,window_size=30):
    X,y,times=[],[],[]
    for i in range(len(data)-window_size):
        X.append(data[i:i+window_size])
        y.append(data[i+window_size,0])
        times.append(time_index[i+window_size])
    return np.array(X),np.array(y),np.array(times)

x_seq,y_seq,t_seq=create_sequences(X,pivot_df.index)
print(x_seq.shape,y_seq.shape)

(509, 30, 3) (509,)

In [51]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

In [54]:
num_features=x_seq.shape[2]

In [84]:
model=Sequential([
    LSTM(64,input_shape=(30,num_features),return_sequences=False),
    Dense(32,activation="relu"),
    Dense(1)
])
model.compile(optimizer="adam",loss='mse')
model.summary()

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ lstm_7 (LSTM)                   │ (None, 64)             │        17,408 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_16 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 19,521 (76.25 KB)

 Trainable params: 19,521 (76.25 KB)

 Non-trainable params: 0 (0.00 B)

In [85]:
train_mask = (t_seq >= pd.to_datetime("1979-01-01")) & (t_seq <= pd.to_datetime("2014-12-31"))
test_mask  = (t_seq >= pd.to_datetime("2015-01-01")) & (t_seq <= pd.to_datetime("2023-12-31"))

X_train, y_train = x_seq[train_mask], y_seq[train_mask]
X_test, y_test   = x_seq[test_mask],  y_seq[test_mask]

In [86]:
history=model.fit(X_train,y_train,
                  validation_data=(X_test,y_test),
                  epochs=50,
                  batch_size=64,
                  verbose=1
                  )

Epoch 1/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 2s 61ms/step - loss: 116.7068 - val_loss: 46.1600
Epoch 2/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step - loss: 112.2917 - val_loss: 44.0997
Epoch 3/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step - loss: 107.7200 - val_loss: 43.5262
Epoch 4/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - loss: 104.6522 - val_loss: 46.5508
Epoch 5/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 103.7957 - val_loss: 47.9406
Epoch 6/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 103.3682 - val_loss: 47.4664
Epoch 7/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step - loss: 102.9799 - val_loss: 46.9800
Epoch 8/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - loss: 102.6997 - val_loss: 46.7272
Epoch 9/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 102.1299 - val_loss: 45.5617
Epoch 10/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 101.9417 - val_loss: 44.9990
Epoch 11/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 101.6999 - val_loss: 45.1548
Epoch 12/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - loss: 101.3897 - val_loss: 45.4153
Epoch 13/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 101.1939 - val_loss: 45.7168
Epoch 14/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 100.9422 - val_loss: 44.9309
Epoch 15/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 100.7090 - val_loss: 44.8580
Epoch 16/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 100.4983 - val_loss: 44.8434
Epoch 17/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 100.2950 - val_loss: 45.2880
Epoch 18/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 100.1365 - val_loss: 45.9138
Epoch 19/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 99.9565 - val_loss: 45.4445
Epoch 20/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 99.6290 - val_loss: 44.2460
Epoch 21/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 99.3983 - val_loss: 44.2934
Epoch 22/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 99.0891 - val_loss: 44.4762
Epoch 23/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 98.8199 - val_loss: 44.6197
Epoch 24/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 98.5462 - val_loss: 44.6772
Epoch 25/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 98.3553 - val_loss: 44.4020
Epoch 26/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 98.2557 - val_loss: 44.1594
Epoch 27/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 98.4307 - val_loss: 46.2983
Epoch 28/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 97.9382 - val_loss: 44.0575
Epoch 29/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 97.6576 - val_loss: 43.5121
Epoch 30/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 97.4383 - val_loss: 43.8015
Epoch 31/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 97.1854 - val_loss: 44.0713
Epoch 32/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 96.7111 - val_loss: 43.4473
Epoch 33/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 96.0517 - val_loss: 45.0337
Epoch 34/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step - loss: 96.1341 - val_loss: 45.5167
Epoch 35/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 95.7199 - val_loss: 47.6099
Epoch 36/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 95.4484 - val_loss: 45.5630
Epoch 37/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step - loss: 95.2494 - val_loss: 45.0752
Epoch 38/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step - loss: 94.1091 - val_loss: 45.0673
Epoch 39/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 93.3668 - val_loss: 44.6007
Epoch 40/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 92.5846 - val_loss: 44.6606
Epoch 41/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 91.9596 - val_loss: 44.6747
Epoch 42/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 90.8865 - val_loss: 44.5617
Epoch 43/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step - loss: 90.3091 - val_loss: 46.5317
Epoch 44/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 88.8742 - val_loss: 45.6007
Epoch 45/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step - loss: 87.6765 - val_loss: 46.6978
Epoch 46/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step - loss: 86.9426 - val_loss: 46.0312
Epoch 47/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 87.0847 - val_loss: 48.4874
Epoch 48/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 85.2166 - val_loss: 44.8689
Epoch 49/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 84.6929 - val_loss: 46.6845
Epoch 50/50
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 82.4827 - val_loss: 49.4990

In [87]:
loss = model.evaluate(X_test, y_test)
print("Test MSE:", loss)

y_pred = model.predict(X_test)

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 49.4990
Test MSE: 49.49900436401367
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step