In [1]:
import pandas as pd
import numpy as np

In [2]:
precipitation_nodes=pd.read_csv(r"data\Cuba_Precipitation_with_Nodes (1) (2).csv")
adj_matrix=pd.read_csv(r"data\Adjacency_Matrix______0_80.csv", index_col=0)

In [3]:
precipitation_nodes["time"]=pd.to_datetime(precipitation_nodes["time"])

In [4]:
precipitation_nodes.head()

   node    lat    lon       time  precipitation
0     1  22.75 -83.75 1979-01-01       0.000000
1     1  22.75 -83.75 1979-01-02      16.168200
2     1  22.75 -83.75 1979-01-03       4.264466
3     1  22.75 -83.75 1979-01-04       0.000000
4     1  22.75 -83.75 1979-01-05       0.000000

In [5]:
precipitation_df=precipitation_nodes.sort_values(by=["node", "time"])
precipitation_df.reset_index(drop=True,inplace=True)

In [37]:
precipitation_df

        node    lat    lon       time  precipitation
0          1  22.75 -83.75   1/1/1979       0.000000
1          1  22.75 -83.75   1/2/1979      16.168200
2          1  22.75 -83.75   1/3/1979       4.264466
3          1  22.75 -83.75   1/4/1979       0.000000
4          1  22.75 -83.75   1/5/1979       0.000000
...      ...    ...    ...        ...            ...
661595    40  20.25 -74.25   4/9/2024       0.000000
661596    40  20.25 -74.25  4/10/2024       0.000000
661597    40  20.25 -74.25  4/11/2024       0.000000
661598    40  20.25 -74.25  4/12/2024       0.000000
661599    40  20.25 -74.25  4/13/2024       0.000000

[661600 rows x 5 columns]

In [6]:
print(precipitation_df[["node","lat","lon"]])

        node    lat    lon
0          1  22.75 -83.75
1          1  22.75 -83.75
2          1  22.75 -83.75
3          1  22.75 -83.75
4          1  22.75 -83.75
...      ...    ...    ...
661595    40  20.25 -74.25
661596    40  20.25 -74.25
661597    40  20.25 -74.25
661598    40  20.25 -74.25
661599    40  20.25 -74.25

[661600 rows x 3 columns]

In [7]:
nodes=precipitation_df["node"].values
missing_nodes=set(nodes)-set(adj_matrix.index)

In [8]:
missing_nodes
#Seems there is no missing links

set()

In [9]:
precipitation_df["precipitation_diff"]=precipitation_df.groupby("node")["precipitation"].diff()
precip_diff_df=precipitation_df.dropna(subset=["precipitation_diff"])
# precip_values

In [11]:
precip_diff_df.head(20)

    node    lat    lon       time  precipitation  precipitation_diff
1      1  22.75 -83.75 1979-01-02      16.168200           16.168200
2      1  22.75 -83.75 1979-01-03       4.264466          -11.903734
3      1  22.75 -83.75 1979-01-04       0.000000           -4.264466
4      1  22.75 -83.75 1979-01-05       0.000000            0.000000
5      1  22.75 -83.75 1979-01-06       0.000000            0.000000
6      1  22.75 -83.75 1979-01-07       0.000000            0.000000
7      1  22.75 -83.75 1979-01-08       0.000000            0.000000
8      1  22.75 -83.75 1979-01-09       0.020123            0.020123
9      1  22.75 -83.75 1979-01-10       9.862288            9.842165
10     1  22.75 -83.75 1979-01-11       0.000000           -9.862288
11     1  22.75 -83.75 1979-01-12       9.881631            9.881631
12     1  22.75 -83.75 1979-01-13       1.027116           -8.854515
13     1  22.75 -83.75 1979-01-14       1.267495            0.240379
14     1  22.75 -83.75 1979-01-15       0.106197           -1.161298
15     1  22.75 -83.75 1979-01-16       0.000000           -0.106197
16     1  22.75 -83.75 1979-01-17       0.000000            0.000000
17     1  22.75 -83.75 1979-01-18       0.000000            0.000000
18     1  22.75 -83.75 1979-01-19       0.000000            0.000000
19     1  22.75 -83.75 1979-01-20       2.804036            2.804036
20     1  22.75 -83.75 1979-01-21       6.629008            3.824972