In [2]:
import pandas as pd
import numpy as np

In [3]:
cuba_precipitation_nodes=pd.read_csv(r"data\Cuba_Precipitation_with_Nodes (1) (2).csv")

        node    lat    lon       time  precipitation
0          1  22.75 -83.75   1/1/1979       0.000000
1          1  22.75 -83.75   1/2/1979      16.168200
2          1  22.75 -83.75   1/3/1979       4.264466
3          1  22.75 -83.75   1/4/1979       0.000000
4          1  22.75 -83.75   1/5/1979       0.000000
...      ...    ...    ...        ...            ...
661595    40  20.25 -74.25   4/9/2024       0.000000
661596    40  20.25 -74.25  4/10/2024       0.000000
661597    40  20.25 -74.25  4/11/2024       0.000000
661598    40  20.25 -74.25  4/12/2024       0.000000
661599    40  20.25 -74.25  4/13/2024       0.000000

[661600 rows x 5 columns]